LLM_BASE_URL=https://api.aitunnel.ru/v1/
LLM_API_KEY=replace-with-your-api-key
LLM_MODEL=gpt-oss-120b
CONTEXT_SOURCE=mock

CONTEXT_MANAGER_GRPC_URL=127.0.0.1:9095

F5_TTS_BASE_URL=http://127.0.0.1:7860
F5_TTS_READ_TIMEOUT=120
TTS_STRESS_MODE=all
